/* General*/
.main-container-about {
  width: 100%;
}

.container-dark {
  background-color: #1e1f1f;
  width: 100%;
  /* min-height: 100vh; */
  height: auto;
}

.intro-container-about-content {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.container-light {
  background-color: #efefef;
  width: 100%;
  color: white;
  /* min-height: 100vh; */
  height: auto;
}

.container-about-content {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.container-about-content .about-text p {
  text-align: justify;
}

/* Cards */


/* Fonts */

.container-dark h1 {
  color: #efefef;
}

.container-light h1 {
  color: #1e1f1f;
}

.container-light h6 {
  color: #1e1f1f;
  font-style: italic;
}

.about-text h6 {
  font-style: italic;

}



.container-light p {
  margin: 0 0 20px 0;
  color: #1e1f1f;
}


.intro-container-about-content p {
  text-align: justify;
}



/* Images */

.intro-container-about-content img {
  width: 100%;
  border-radius: 2px;
  height: 200px;
  object-fit: cover;
}

.container-about-content img {
  margin: 20px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 2px white solid;
}




/* Responsive design */
@media only screen and (max-width: 767px) {

  .intro-container-about-content p, h1{
    text-align: center;
}

.container-about-content {
  display: block;
}

.container-about-content .about-text p {
  text-align: -webkit-center;
}

.container-light h6 {
  text-align: -webkit-center;
}

.container-about-content img {
  width: 200px;
  height: 200px;
}
.about-text h6 {
  text-align: -webkit-center;

}
