.main-product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.product-card {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.product-card h2, .product-card h3, .product-card h4, .product-card h5, .product-card h6, .product-card p {
  color: black;

}

.product-card h1 {
  color:#BEA150;
}

.product-card p {
  text-align: justify;
}

.product-img img {
  height: 200px;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.58);
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.58);
  border-radius: 2px;
  border: white solid 4px;
  }

.product-txt  {
  margin-left: 100px ;
}

/* Responsive Design */

@media only screen and (max-width: 767px) {

  body  {
    color: red;
  }
  .product-card {
    display: block;
    align-items: center;
  }

  .product-txt {
    margin-left: 0px;
  }

  .product-card h1 {
    font-size: 14px;
  }

  .product-card h2 {
    text-align: -webkit-center;
  }

  .product-card p {
    font-size: 16px;
    line-height: 1.5;
    text-align: -webkit-center;
  }
}