<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Ik ben H1</h1>
<h2>Ik ben H2</h2>
<h3>Ik ben H3</h3>
<h4>Ik ben H4</h4>
<h5>Ik ben H5</h5>
<h6>Ik ben H6</h6>
<p class="p-poppins">Ik ben p Poppins</p>
<p>Ik ben p Halans</p>
<p class="p-poppins italic">Ik ben p Poppins italic</p>
<p class="italic">Ik ben p Halans italic</p>
<p class="p-poppins thin">Ik ben p Poppins thin</p>
<p class="thin">Ik ben p Halans thin</p>




<%= link_to "Producten", user_products_path(:user_id) %>
